
.sectionFather{
    height: 100%;
}

.sectionPaisId{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.volver{
    align-self: flex-end;
    margin-top: 1.5%;
    padding: 1%;
    margin-right: 3%;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    background-color: black;
}
.volver:visited{color: white;}

.mostraPais{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.mostraPais>div{
    display: flex;
    flex-direction: column;
}

.mostraPais>div>button{
    padding: 1.5%;
    background-color: black;
    color: white;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 1%;
}

.card-country{
    position: relative;
    min-height: 50vh;
    width: 40vw;
    min-width: 500px;
}

.card-country{
    width: 40vw;
    min-width: 500px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    flex-wrap: nowrap;
    transform-style: preserve-3d;
    transform: perspective(500px);
    transition: 0.3s ease-in-out;
}

.card-country>picture{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-country>picture>img{
    width: 100%;
    height: 85%;
    right: 0;
    top: 0;
}

.card-country>button{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
}

.container-map{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.3s ease-in-out;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* transform: rotateY(180deg); */
}
.turn{
    /* transform: none; */
    transform: rotateY(180deg); 
    transition: 0.3s ease-in-out;
}

.container-map>div{
    height: 100%;
    width: 100%;
}

.container-data-country{
    width: 50%;
    margin-top: 2.5%;
}

.container-data-country h2{
    border-bottom: 1px solid white;
    width: auto;
    height: auto;
    text-align: start;
}

.datosParr{
    text-align: start;
    height: 40%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
}

.datosParr>p{
    margin-top: 1%;
}

.actividadesBase{
    height: 100%;
    width: 100%;
    margin: 0 0 5% 0;
}

.actividadesBase h3{
    margin: auto;
    width: 85%;
    text-align: start;
}

.actividadesBase>div{
    /* border: 1px solid white; */
    width: 90%;
    margin: auto;
}

.title-data-table{
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 32px;
    border: 1px solid white;
    font-weight: 600;
}

.title-data-table{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.actividadesBase>div>div:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* *********** RESPONSIVE *********** */
@media (max-width:768px){
    .mostraPais>picture{
        width: 50vw;
        height: 40vw;
    }
}

@media (max-width:425px){
    .mostraPais{
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 0 3%;
    }
    .mostraPais>div{
        height: 60vh;
        width: 80vw;
        display: flex;
        justify-content: space-between;
    }

    .mostraPais>picture{
        width: 80vw;
        height: 70vw;
    }
}
