.inicio{
    background-image: url("../img/pexels-instawalli-176851.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: center;
    display: flex;
    flex-wrap: wrap;
}

.inicio>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 65vw;
    transform-style: preserve-3d;
}

.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-image: url("../img/image.jpg");
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px black,
    0 0 50px lightseagreen;
    animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -750px 0;
    }
}


.inicio>div:last-child{
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.inicio>div:last-child>div{
    border-radius: 15px;
    border: 1px solid white;
    height: 35vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color:white;
}

.inicio>div:last-child>div>p{
    width: 70%;
    text-align: left;
    font-weight: 600;
}

.ingreso{width: 100%;}
.ingreso>button{
    color:white;
    padding: 3% 8%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
}

.ingreso>button:hover{
    cursor: pointer;
}

.ingreso>button:active{
    transform: scale(.9);
}
.ingreso>button:focus{transform: scale(.9);}