.desplegable-uno{
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 32px;
    border: 1px solid white;
}

.desplegable-uno>p{
    width: 25%;
    text-align: center;
    border-right: 1px solid white;
}

.desplegable-uno>p:last-child{
    width: 25%;
    text-align: center;
    border-right: none;
}