/* section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1%; 
} 
*/


.divButton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.divButton>button{
    margin-right: 15%;
    padding:1%;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.divButton>button:hover{cursor: pointer;}
.divButton>button:active{transform: scale(.9);}